@import "./rose-pine.css";

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 0;
}

window#waybar {
    background: @base;
    color: @subtle;
    font-family: Liberation Mono;
    font-size: 18;
    font-weight: 600;
}

tooltip {
    background-color: @base;
    border: 2px solid @overlay;
}

#workspaces,
#clock,
#tray {
    margin: 0 6px 0 0;
    padding: 0 6px;
}

#workspaces button {
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 6px;
    color: @muted;
    font-weight: 500;
}

/* Workspace visible on an other monitor */
#workspaces button.visible {
    color: @foam;
    font-weight: 900;
}

/* Workspace visible on a monitor but not active */
#workspaces button.visible.hosting-monitor:not(.active) {
    background: @foam;
    color: @base;
}

/* Workspaces not visible on a monitor */
#workspaces button.hosting-monitor {
    background: @highlightLow;
}

/* Workspace active on an other monitor */
#workspaces button.active {
    color: @rose;
    font-weight: 900;
}

/* Workspace active on a monitor */
#workspaces button.active.visible.hosting-monitor {
    background: @rose;
    color: @base;
}

#workspaces button.urgent {
    background-color: @love;
    color: @base;
}

#workspaces button:hover {
    background-color: @pine;
    color: @base;
}

#clock {
    color: @rose;
}
